< !DOCTYPE html><html><head><title>Welcome to Indian Railways</title><style>body {
    background-img: url("railway.jpg")
}

header {
    background-color: #AED6F1;
    padding: 30px;
    text-align: Right;
    font-size: 40px;
    color: red;
}

nav {
    float: right;
    width: 30%;
    height: 50px;
    /* only for demonstration, should be removed */
    background: none;
    padding: 30px;
    font-size: 25px;
}

</style></head><body><header text-align:"center"><marquee>Welcome to Indian Railways</marquee><nav><a href=" NewUser2.html"title="NewUser">NewUser</a>&nbsp <a href=" Login.html"title="Login">Login</a></nav></header></body></html>